/select33.d95.sum.bin.raw.count.gz
/select33.d95.sum.seq.raw.count.gz
/select8dives.d95.sum.bin.raw.count.gz
/select8dives.d95.sum.seq.raw.count.gz
/select11dives.d95.sum.seq.raw.count.gz
/select11dives.d95.sum.bin.raw.count.gz
/MEER1225.fpkm.profile.gz
/MEER1225.fpkm.row.stat.gz
/MEER1225.fpkm.col.stat.gz
/MEER1225.d95.fpkm.MAG.col.stat.gz
/MEER1225.d95.fpkm.MAG.profile.gz
/MEER1225.d95.fpkm.MAG.row.stat.gz
/MEER1194.fungi.fpkm.col.stat.gz
/MEER1194.fungi.fpkm.col.stat.gz
/MEER1194.fungi.fpkm.col.stat.gz
/MEER1194.fungi.fpkm.profile.gz
/MEER1194.fungi.fpkm.profile.gz
/MEER1194.fungi.fpkm.profile.gz
/MEER1194.fungi.fpkm.row.stat.gz
/MEER1194.fungi.fpkm.row.stat.gz
/MEER1194.fungi.fpkm.row.stat.gz
