/select33.d95.sum.bin.raw.count.gz
/select33.d95.sum.seq.raw.count.gz
/select8dives.d95.sum.bin.raw.count.gz
/select8dives.d95.sum.seq.raw.count.gz
/select11dives.d95.sum.seq.raw.count.gz
/select11dives.d95.sum.bin.raw.count.gz
